<section class="hero section-padding pb-70" data-scroll-index="1">
	<div class="container">
		<div class="row">

			<!-- hero image -->
			<div class="col-md-5">
				<div class="hero-img mb-30">
			<img src="build/me.jpg" alt="Picture of me, Alexis LAFRANCE behind montains" class='me_picture'>
				</div>
			</div>

			<!-- content -->
			<div class="col-md-7">
				<div class="content mb-30">
					<h3>A propos de moi</h3>
					<span class="sub-title">Developpeur web Symfony</span>
					<p>
						Je m'appelle <b>Alexis LAFRANCE</b>.<br>
						Je suis Developpeur Web délivré bac+2 par OpenClassrooms, spécialisé en Symfony. 
						Sit fuga vel assumenda magnam culpa Quidem recusandae odio fugiat adipisci culpa? Eaque illo ea unde qui necessitatibus? Eius tenetur non expedita consequuntur et! Veritatis deleniti officia consequuntur beatae repellat
					</p>

					<!-- skills progress -->
					<div class="skills">
						<div class="item">
							<div class="skills-progress">
								<h6>Connaissance des langages du web</h6>
								<span data-value="80%"></span>
							</div>
						</div>
						<div class="item">
							<div class="skills-progress">
								<h6>Conçois de site de A à Z</h6>
								<span data-value="70%"></span>
							</div>
						</div>
						<div class="item">
							<div class="skills-progress">
								<h6>Efficacité</h6>
								<span data-value="90%"></span>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>

					<a href="#">
						<span class="buton buton-bg">Voir mon C.V</span>
					</a>
					<a href="#0" data-scroll-nav="6">
						<span class="buton">Me contacter</span>
					</a>

				</div>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
</section>
