<section id="home" class="header" data-scroll-index="0" data-stellar-background-ratio="0.8">
	<video autoplay width='100%' muted loop id="video">
		<source src="build/laptop.mp4" type="video/mp4">
	</video>
	<div class="v-middle">
		<div class="container">
			<div class="row">
				<!-- caption -->
				<div class="caption">
					<h5>Bienvenue !</h5>
					<h1 class="cd-headline clip">
						<span class="blc">Je suis </span>
						<span class="cd-words-wrapper">
						  <b class="is-visible">Alexis LAFRANCE</b>
						  <b>Développeur web</b>
						  <b>Freelance</b>
						</span>
					</h1>
				</div>
				<!-- end caption -->
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
</section>
