<section class="portfolio section-padding pb-70" data-scroll-index="3">
	<div class="container">
		<div class="row">

			<!-- section heading -->
			<div class="section-head">
				<h3>Portfolio.</h3>
			</div>

			<!-- filter links -->
			<div class="filtering text-center mb-50">
				<span data-filter='*' class="active">Tout</span>
				<span data-filter='.brand'>Ruby</span>
				<span data-filter='.web'>Symfony</span>
				<span data-filter='.graphic'>Javascript</span>
			</div>

			<!-- gallery -->
			<div class="gallery text-center">

				<!-- gallery item -->
				<div class="col-md-4 col-sm-6 items graphic">
					<div class="item-img">
						<img src="build/portfolio/1.jpg" alt="image">
						<div class="item-img-overlay">
							<div class="overlay-info v-middle text-center">
								<h6 class="sm-titl">Coucou</h6>
								<div class="icons">
									<span class="icon">
										<a href="#0">
											<i class="fa fa-chain-broken" aria-hidden="true"></i>
										</a>
									</span>

									<span class="icon link">
										<a href="build/portfolio/1.jpg">
											<i class="fa fa-search-plus" aria-hidden="true"></i>
										</a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- gallery item -->
				<div class="col-md-4 col-sm-6 items web">
					<div class="item-img">
						<img src="build/portfolio/2.jpg" alt="image">
						<div class="item-img-overlay">
							<div class="overlay-info v-middle text-center">
								<h6 class="sm-titl">WEB DESIGN</h6>
								<div class="icons">
									<span class="icon">
										<a href="#0">
											<i class="fa fa-chain-broken" aria-hidden="true"></i>
										</a>
									</span>

									<span class="icon link">
										<a href="build/portfolio/2.jpg">
											<i class="fa fa-search-plus" aria-hidden="true"></i>
										</a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- gallery item -->
				<div class="col-md-4 col-sm-6 items graphic">
					<div class="item-img">
						<img src="build/portfolio/3.jpg" alt="image">
						<div class="item-img-overlay">
							<div class="overlay-info v-middle text-center">
								<h6 class="sm-titl">WEB DESIGN</h6>
								<div class="icons">
									<span class="icon">
										<a href="#0">
											<i class="fa fa-chain-broken" aria-hidden="true"></i>
										</a>
									</span>

									<span class="icon link">
										<a href="build/portfolio/3.jpg">
											<i class="fa fa-search-plus" aria-hidden="true"></i>
										</a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- gallery item -->
				<div class="col-md-4 col-sm-6 items brand">
					<div class="item-img">
						<img src="build/portfolio/4.jpg" alt="image">
						<div class="item-img-overlay">
							<div class="overlay-info v-middle text-center">
								<h6 class="sm-titl">WEB DESIGN</h6>
								<div class="icons">
									<span class="icon">
										<a href="#0">
											<i class="fa fa-chain-broken" aria-hidden="true"></i>
										</a>
									</span>

									<span class="icon link">
										<a href="build/portfolio/4.jpg">
											<i class="fa fa-search-plus" aria-hidden="true"></i>
										</a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- gallery item -->
				<div class="col-md-4 col-sm-6 items web graphic">
					<div class="item-img">
						<img src="build/portfolio/5.jpg" alt="image">
						<div class="item-img-overlay">
							<div class="overlay-info v-middle text-center">
								<h6 class="sm-titl">WEB DESIGN</h6>
								<div class="icons">
									<span class="icon">
										<a href="#0">
											<i class="fa fa-chain-broken" aria-hidden="true"></i>
										</a>
									</span>

									<span class="icon link">
										<a href="build/portfolio/5.jpg">
											<i class="fa fa-search-plus" aria-hidden="true"></i>
										</a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- gallery item -->
				<div class="col-md-4 col-sm-6 items brand">
					<div class="item-img">
						<img src="build/portfolio/6.jpg" alt="image">
						<div class="item-img-overlay">
							<div class="overlay-info v-middle text-center">
								<h6 class="sm-titl">WEB DESIGN</h6>
								<div class="icons">
									<span class="icon">
										<a href="#0">
											<i class="fa fa-chain-broken" aria-hidden="true"></i>
										</a>
									</span>

									<span class="icon link">
										<a href="build/portfolio/6.jpg">
											<i class="fa fa-search-plus" aria-hidden="true"></i>
										</a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div><!-- /row -->
	</div><!-- /container -->
</section>
