<section class="blog section-padding bg-gray" data-scroll-index="5">
	<div class="container">
		<div class="row">

			<!-- section heading -->
			<div class="section-head">
				<h3>Our Blog.</h3>
			</div>

			<!-- owl carsouel -->
			<div class="owl-carousel owl-theme">

				<!-- pitems -->
				<div class="pitem">
					<div class="post-img">
						<img src="build/blog/1.jpg" alt="">
					</div>
					<div class="content">
						<h6 class="tag">
							<a href="#0">WordPress</a>
						</h6>
						<h4>
							<a href="#0">Top WordPress Themes and Plugins for Hotels, Travel, and</a>
						</h4>
						<span class="more">
							<a href="#0">Read More</a>
						</span>
					</div>
				</div>

				<div class="pitem">
					<div class="post-img">
						<img src="build/blog/2.jpg" alt="">
					</div>
					<div class="content">
						<h6 class="tag">
							<a href="#0">Trends</a>
						</h6>
						<h4>
							<a href="#0">Master These Awesome New Skills in March 2018</a>
						</h4>
						<span class="more">
							<a href="#0">Read More</a>
						</span>
					</div>
				</div>

				<div class="pitem">
					<div class="post-img">
						<img src="build/blog/3.jpg" alt="">
					</div>
					<div class="content">
						<h6 class="tag">
							<a href="#0">Themeforest</a>
						</h6>
						<h4>
							<a href="#0">The 20 Best Lightroom Presets You Need to Know About</a>
						</h4>
						<span class="more">
							<a href="#0">Read More</a>
						</span>
					</div>
				</div>

				<div class="pitem">
					<div class="post-img">
						<img src="build/blog/4.jpg" alt="">
					</div>
					<div class="content">
						<h6 class="tag">
							<a href="#0">Trends</a>
						</h6>
						<h4>
							<a href="#0">Best Design Items to Appeal to the Millennial Generation</a>
						</h4>
						<span class="more">
							<a href="#0">Read More</a>
						</span>
					</div>
				</div>
			</div>

		</div><!-- /row -->
	</div><!-- /container -->
</section>
