@import './bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import './owl.carousel.min.css';
@import './owl.theme.default.min.css';
@import './magnific-popup.css';
@import './animate.min.css';
@import './font-awesome.min.css';
@import './et-line.css';
@import './style.css';


// SCSS Perso

a.logo{
	padding-top: 0px;
}
